body {
  margin: 0 auto;
  padding: 0px;
	position: relative;
	height: auto;
	width: auto;
}

img {
  pointer-events: none;
}

#gameBoard {
  display: inline-block;
	margin: 5px;
	height: 768px;
	width: 1024px;
	position: relative;
	background-image:url('img/watercolor_bg.jpg');
/*  background-color: #116611;*/
	background-repeat:no-repeat;
	background-size:cover;
	border-radius: 10px;
	border: 1px solid red;
	-moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow:hidden;
}

#floating {
  overflow: hidden;
}

/* Used to grey out other divs and to prevent clicking outside */
#hiddenLayer {
  height:inherit;
  width:inherit;
  top:0;
  left:0;
  position:absolute;
  z-index:2999; /* zlayer3 - 1 */
  background-color: gray;
  opacity: 0.5;
}

.stacktop {
	position: absolute;
	width: 15%;
	height: 25%;
	background-color: dimgray;
	border: 3px solid black;
	border-radius: 5px;
}

.mat {
  background-color: rgba(60,40,30,0.8);
  position: absolute;
  border-radius: 15px;
  border: 2px solid rgb(30,20,15);
}

/*********************/
/* cards */
/*********************/

.smallDeck,.smallDiscard{
  height: 80px;
  width: 50px;
  border-radius: 4px;
  position: absolute;
}
.smallDeck {
  border: 1px solid black;
}
.smallDiscard {
  border: 1px dashed black;
}
  
  
.cardTemplate,.card,.cardSized,#playerHand {
  height: 160px;
} 
  .faceUp {
    background-color: rgba(111,111,111,0.3);
  }

  .faceDown {
    background-image:url('img/facedown.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
  }

  .card, .cardSized {
    width: 100px;
    border-radius: 10px;
  }
  
  .card {
    float:left;
    border: 2px solid black;
    background-color: dimgray;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
      .card>img {
        width: 80%;
        height: 50%;
        margin-left:auto;
        margin-right:auto;
        display:block;
        position: relative;
        top: 0px;
        border: 2px solid black;
      }

      .card>.name {
        font-weight: bold;
        font-size: 12px;
        display: block;
        text-align: center;
        color: silver;
        margin: 8px;
      }

      .card>.cost {
        font-size: 12px;
        font-weight: bold;
        color: gold;
        position: absolute;
        top: 6px;
        right: 8px;
      }

      .card>.effect {
        font-size: 12px;
        display: block;
        text-align: center;
        top:10px;
      }
 
.smallCard {
  width:70px;
  height:70px;
  overflow: hidden;
  border: 2px solid black;
  margin: 3px;
  position: relative;
}

.stackCounter {
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 10px;
  width: 12px;
  height: 12px;
  text-align: center;
  font-weight: bold;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 12px;
}

.resourceCounter {
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 16px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  /*border-radius: 12px; */
}
  
.handArea{
  border-radius: 10px;
  border: 1px solid lightyellow;
  position: absolute;
  background-color: rgba(255,255,255,0.3);
}

.shrink {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 20px;
  right: 20px;
  
  background-repeat:no-repeat;
  background-image:url('img/arrow_button_right.png');
  background-size: cover;
}

.close {
  position: absolute;
  height: 30px;
  width: 30px;
  top: -10px;
  right: -10px;
  
  background-repeat:no-repeat;
  background-image:url('img/xbutton.png');
  background-size: cover;
}


/***********************/
/* Player */
/***********************/

#playerHand {
	  position: absolute;
	  bottom: 0;
	  padding: 0px;
    left: 162px; /* (1024 - 700)/2 */
    width:700px;
	  /*overflow:auto;*/
  }
  
  #playerDeck {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #playerDiscard {
    border: 2px dashed black;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  /* this margin should equal the border of #playerDiscard*/
  #playerDiscard .card {
    margin: -2px;
    }
  
  #playerMat {
    height: 80px;
    width: 700px;
    position: absolute;
    left: 162px; /* (1024 - 700)/2 */
    bottom: 165px;
  }

    #playerSmallMat {
      position: absolute;
      padding-left: 5px;
      top: 0px;
      left: 0px;
      height:100%;
      width:700px;
      z-index: 1;
    }
    
    #playerSmallMat .smallCard {
      float:left;
    }
    
    #playerLargeMat {
      position: absolute;
      top: 0px;
      left: 0px;
      height:420px;
      width:100%; /* same width as the expaning animation in view.js */
      z-index: 1;
    }


/***********************/
/* Left Opponent */
/***********************/

#leftOpponent {
}

  #leftHand {
    top: 0px;
    left: 0px;
    height:480px;
    width:50px;
    z-index: 1;
  }

  #leftDeck {
    top: 480px;
    left: 0px;
    margin:10px;
  }

  #leftDiscard {
    top: 480px;
    left: 60px;
    margin:10px;
  }

  #leftMat {
    top: 0px;
    left: 55px;
    height:480px;
    width:80px;
    z-index: 1;
  }

    #leftSmallMat {
      position: absolute;
      padding-top: 5px;
      top: 0px;
      left: 0px;
      height:100%;
      width:80px;
      z-index: 1;
    }
    
    #leftLargeMat {
      position: absolute;
      top: 0px;
      left: 80px;
      height:100%;
      width:630px; /* same width as the expaning animation in view.js */
      z-index: 1;
    }
    
/***********************/
/* Right Opponent */
/***********************/    

#rightOpponent {
}

  #rightHand {
    top: 0px;
    right: 0px;
    height:480px;
    width:50px;  
    z-index: 1;
  }

  #rightMat {
    top: 0px;
    right: 55px;
    height:480px;
    width:80px;  
    z-index: 1;
  }

  #rightDeck {
    top: 480px;
    right: 0px;
    margin:10px;
  }

  #rightDiscard {
    top: 480px;
    right: 60px;
    margin:10px;
  }

    #rightSmallMat {
      position: absolute;
      padding-top: 5px;
      top: 0px;
      right: 0px;
      left: 0px;
      height:100%;
      width:80px;
      z-index: 1;
    }
    
    #rightLargeMat {
      position: absolute;
      top: 0px;
      right: 80px;
      height:100%;
      width:630px; /* same width as the expaning animation in view.js */
      z-index: 1;
    }

/***********************/
/* Across Opponent */
/***********************/

#acrossOpponent {
}

  #acrossHand {
    top: 0px;
    left: 272px; /* (1024 - 480)/2 */
    height:50px;
    width:480px;
    z-index: 1;  
  }
  
  #acrossMat {
    top: 55px;
    left: 272px; /* (1024 - 480)/2 */
    height:80px;
    width:480px;
    z-index: 1;  
  }

  #acrossDeck {
    top: 0px;
    left: 762px; /* 272 + 480 + 10 */
    margin:10px;
  }

  #acrossDiscard {
    top: 0px;
    left: 192px;
    margin:10px;
  }

    #acrossSmallMat {
      position: absolute;
      padding-left: 5px;
      top: 0px;
      left: 0px;
      height:80px;
      width:480px;
      z-index: 1;
    }
    
    #acrossSmallMat .smallCard {
      float:left;
    }
    
    #acrossLargeMat {
      position: absolute;
      top: 80px;
      left: 0px;
      height:620px;
      width:480px; /* same width as the expaning animation in view.js */
      z-index: 1;
    }
    
.smallMat {
/*  padding: 3px;*/
}


.tableau {
  padding: 0px;
  border: 3px solid black;
  border-radius: 10px;
}

#actionTableau {
  left: 212px; /* (1024 - 600)/2 */
  height:160px; /* extra 5 for not scrolling */
  width:600px;
  position: absolute;
  padding-bottom:20px;
  bottom: 320px;
  overflow:auto;
  overflow-y: hidden;
}
  
#buyingBoard {
  background-color: rgba(30,30,40,0.85);
  border: 3px solid rgba(60,40,30,0.7);
  border-radius: 10px;
  left: 362px; /* (1024 - 600)/2 */
  top: 160px;  
  height:80px; /* extra 5 for not scrolling */
  width:300px;
  position: absolute;
}

  #smallBuying {
    padding: 0px;
    left: 0px;
    top: 0px;  
    height:60px; /* extra 5 for not scrolling */
    width:300px;
    position: absolute;
  }
  
  #largeBuying {
    left: 0px; /* (1024 - 600)/2 */
    top: 0px;  
    margin: 10px;
    height:710px; /* extra 5 for not scrolling */
    width:780px;
    position: absolute;
  }
  

