body {
  margin: 0 auto;
  padding: 0px;
	position: relative;
	height: auto;
	width: auto;
}

#gameBoard {
  display: inline-block;
	margin: 5px;
	height: 768px;
	width: 1024px;
	position: relative;
	background-image:url('img/watercolor_bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	border-radius: 10px;
	border: 1px solid red;
	-moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.stacktop {
	position: absolute;
	width: 15%;
	height: 25%;
	background-color: dimgray;
	border: 3px solid black;
	border-radius: 5px;
}

.mat {
  height: 80px;
  width: 700px;
}

/***************************************/
/* cards */

.cardTemplate,.card,.faceUp,.faceDown,.hand,.tableau {
  height: 160px;
} 
  .hand {
    left: 162px; /* (1024 - 700)/2 */
    width:700px;
    border: 3px solid black;
	  border-radius: 10px;
  }

  .tableau {
	  padding: 0px;
	  border: 3px solid black;
	  border-radius: 10px;
  }

  .faceUp {
    background-color: floralwhite;
  }

  .faceDown {
    background-image:url('img/facedown.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
  }

  .card {
    width: 100px;
	  float:left;
	  border-radius: 10px;
    border: 3px solid black;
    background-color: dimgray;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

  }
      .card>img {
        width: 80%;
        height: 50%;
        margin-left:auto;
        margin-right:auto;
        display:block;
        position: relative;
        top: 0px;
        border: 2px solid black;
      }

      .card>.name {
        font-weight: bold;
        font-size: 12px;
        display: block;
        text-align: center;
        color: silver;
        margin: 8px;
      }

      .card>.cost {
        font-size: 12px;
        font-weight: bold;
        color: gold;
        position: absolute;
        top: 6px;
        right: 8px;
      }

      .card>.effect {
        font-size: 12px;
        display: block;
        text-align: center;
        top:10px;
      }

  #actionTableau {
    left: 212px; /* (1024 - 600)/2 */
    width:600px;
	  position: absolute;
	  bottom: 320px;
  }
  
  #playerMat {
    border-radius: 10px;
    border: 3px solid black;
    position: absolute;
    left: 162px; /* (1024 - 700)/2 */
    bottom: 160px;
  }

  #playerHand {
	  position: absolute;
	  bottom: 0;
	  padding: 0px;
  }
  
  #playerDeck {
    background-color: lightblue;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #playerDiscard {
    background-color: lightblue;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .opponent{
    border-radius: 10px;
    border: 3px solid black;
    position: absolute;
  }

  #leftOpponent {
    top: 0px;
    left: 0px;
    height:480px;
    width:100px;
  }

  #rightOpponent {
    top: 0px;
    right: 0px;
    height:480px;
    width:100px;  
  }

  #acrossOpponent {
    top: 0px;
    left: 272px; /* (1024 - 480)/2 */
    height:100px;
    width:480px;  
  }
  
  
/********************/
/* Side scrolling menu */

#customScrollBox {
  height:inherit;
  width:inherit;
}

